body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 20%;
  margin: auto;
  padding: 4px 22px 4px 8px;
  background-color: darkgray;
}

.display {
  margin: 4px auto 4px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: grey;
  padding: 6px;
  border-radius: 8px;
}

.hidden {
  visibility: hidden;
}

.shown {
  display: block;
}

p {
  margin: 0;
}

.buttons {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  margin: auto;
  width: 100%;
  padding: 8px;
  background-color: lightgray;
  border-radius: 8px;
}

.topButtons {
  display: flex;
  margin: 0;
  width: 100%;
  gap: 4px;
}

.btnTop {
  width: 100%;
  padding: 16px;
}

.mainButtons {
  margin: 0;
  width: 100%;
}

.footerRow {
  margin-top: 3px;
  gap: 6px;
  display: flex;
}

.btnMain {
  width: 100%;
  margin-top: 1px;
  padding: 16px;
}

.row {
  flex: 1;
  display: flex;
  gap: 4px;
  margin-top: 3px;
}
